[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
oauth2client = "*"
pyopenssl = "*"
gspread = "*"
pandas = "*"
flask = "*"
flask-sqlalchemy = "*"
celery = "*"
redis = "*"
psycopg2-binary = "*"
jsonify = "*"
xmltodict = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
